
// universal elements styled here

html {
    font-size: 125%;
    scroll-behavior: smooth;
} 

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mandala {
    animation: rotation infinite 20s linear;
}

input[type="radio"] {
    margin: 2rem 0 1.5rem;
    
}


// header styles start here

header {
   
    background-color: #FFC875;
    padding: 2rem 0 1rem;

    img {
        max-width: 20%;
        margin: 0 auto;
        display: block;
    }

    h1 {
        font-family: 'Domine', serif;
        font-size: 5rem;
        text-transform: capitalize;
        text-align: center;
        margin: 2rem 0 0;

    }

    a {
        display: block;
        margin: 4rem auto;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        padding: 1rem;
        background: blue;
        border-radius: 2%;
        color: white;
        width: 20%;
    }

    a:hover,
    a:focus {
        background: white;
        color: blue;
    }
}

// answer options are sttyled here

.optionBox {
    .fieldSet {
        border: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0;

    }

    fieldset {
        border: none;
        padding: 0;
    }

    
}
label {
    span {
        color: black;
        text-transform: capitalize;
        font-size: 2rem;
    }
}

.answerOptions {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.panel {
    padding: 4rem;
    h2 {
        margin: 0;
        font-family: 'Roboto', Sans-Serif;
        font-size: 2rem;
    }

    a {
        font-size: 0.7rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 0.5rem;
        margin: 1.5rem 0;
        border-radius: 4%;
        display: block;
        width: 10%;
        color: white;
        background: #177E89;
        letter-spacing: 0.1rem;
    }

    a:hover,
    a:focus {
        color: #177E89;
        background: white;
    }
}

.panel1 {
    background-color: #DBB68F;
}

.panel2 {
    background-color: #C9E4CA; 
}

.panel3 {
    background-color: #C5EFCB;
}

// icons styled here

.iconSet {
    font-size: 10rem;
}

// footer styled here

footer {
    background-color: #2EC4B6;
    color: black;
    padding: 1rem;
    p {
        text-align: center;
        font-size: 1rem;
    }
}

// dynamically added components styled here

.finalButtons {
    margin-top: 3rem;
    display: flex;

    input {
        font-size: 0.8rem;
        margin-right: 0.2rem;
        border: 0;
        background: #177E89;
        color: white;
        text-transform: uppercase;
        padding: 0.5rem;
        border-radius: 3%;
        letter-spacing: 0.1rem;
        
    }

    input:focus,
    input:hover {
        color: #177E89;
        background: white;
    }
    
}


.finalResults {
    background-color: #A0EADE;
    padding: 3rem;

}
.results {


    input {
        display: block;
        margin: 1.5rem auto;
        padding: 1rem;
        border: none;
        background: #F6F7F8;
        color: black;
        border-radius: 5%; 
        text-transform: uppercase;
    }

    input:focus,
    input:hover {
        background: black;
        color: #F6F7F8;
    }

    h2 {
        margin: 0;
        text-align: center;
        font-family: 'Roboto', Sans-Serif;
        font-size: 3rem;
    }

   
}
