
// Responsive styles added here

@media all and (min-width:901px) and (max-width:1024px) {

    html {
        font-size: 90%;
    }

    header {

        h1 {
        font-size: 4rem; 
        }
    }
    
    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
        }
    }

    .finalButtons {
        input {
            font-size: 1rem;
        }
    }
}

@media all and (min-width:785px) and (max-width:900px) {

    html {
        font-size: 80%;
    }

    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
        }
    }

    .finalButtons {
        input {
            font-size: 1rem;
        }
    }
}

@media all and (min-width:671px) and (max-width:784px) {

    html {
        font-size: 75%;
    }
    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
        }
    }

    .finalButtons {
        input {
            font-size: 1rem;
        }
    }
}

@media all and (min-width:501px) and (max-width:670px) {

    html {
        font-size: 75%;
    }
    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
            width: 25%;
        }
    }

    .finalButtons {
        input {
            font-size: 1rem;
        }
    }


}
@media all and (min-width:421px) and (max-width: 500px) {
    html {
        font-size: 75%;
    }
    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
        }
    }

    .finalButtons {

        flex-flow: column nowrap;
        text-align: center;
        
        input {
            font-size: 1rem;
            margin: 1rem 0;
            padding: 1rem;
        }
    }

    fieldset {
        .iconSet {
            display: none;
        }
    }
}
@media all and (min-width:376px) and (max-width:420px) {

    html {
        font-size: 75%;
    }
    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
        }
    }

    .finalButtons {

        flex-flow: column nowrap;
        text-align: center;
        
        input {
            font-size: 1rem;
            margin: 1rem 0;
            padding: 1rem;
        }
    }

    fieldset {
        .iconSet {
            display: none;
        }
    }

    .results {
        input {
            font-size: 1rem;
        }
    }

}


@media all and(min-width:321px) and (max-width:375px) {

    html {
        font-size: 60%;
    }
    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
        }
    }

    .finalButtons {

        flex-flow: column nowrap;
        text-align: center;
        
        input {
            font-size: 1rem;
            margin: 1rem 0;
            padding: 1rem;
        }
    }

    fieldset {
        .iconSet {
            display: none;
        }
    }
}

@media all and (max-width:320px) {
    html {
        font-size: 75%;
    }

    header {
        a {
            width: 30%;
        }
    }
    label {
        font-size: 1.4rem;
    }
    .panel{
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 1rem;
            padding: 1rem;
            width: 100%;
        }
    }

    .finalButtons {

        flex-flow: column nowrap;
        text-align: center;
        
        input {
            font-size: 1rem;
            margin: 0.3rem 0;
            padding: 1rem;
        }
    }

    fieldset {
        .iconSet {
            display: none;
        }
    }
}



